<div class="card">

  <div class="employee-header">
    <img [src]="profileImage" alt="Employee Profile" />

    <div class="employee-info">
        <h2>{{ employeeName | titlecase }}</h2>
        <p>{{ designation | uppercase }}</p>
        <p>Joining Date: {{ joiningDate | date:'dd MMM yyyy' }}</p>
        <p>Salary: {{ salary | currency:'INR' }}</p>
        <p>Employee ID: {{ employeeId | employeeId }}</p>
    </div>
    </div>

  <p>Experience: {{ experience }} Years</p>

  <input
    type="text"
    [(ngModel)]="employeeName"
    placeholder="Update Employee Name"
  />

  <br /><br />


  @if (isActive) {
    <p class="active-status">Active Employee</p>
  } @else {
    <p class="inactive-status">Inactive Employee</p>
  }
  <p [ngStyle]="{ 'font-weight': 'bold', 'font-size': '18px' }">
    Experience: {{ experience }} Years
  </p>
  <h3>Skills</h3>
  <ul>
    @for (skill of skills; track skill) {
      <li>{{ skill }}</li>
    }
  </ul>

  
  <button (click)="updateDesignation()">
    Promote Employee
  </button>
</div>